.wrapper {
    background-color: rgb(94, 178, 193);  
    margin-top: 60px;
}

.content {
    padding: 20px 40px;
    justify-content: space-between;
    color: #fff;
    display: flex;   
    >div{
        display: flex;
        align-items: flex-start;
        gap: 40px;       
    }
    a{
        color: #fff;
        text-decoration: none;
    }
    p{
        margin: 0;
    }
}
.navbar{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
}